a.social-icon {
  margin-left: 10px;
  margin-right: 0px;
}

.navbar-brand {
  margin-right:0;
}

ul.social-share {
  list-style-type: none;
  display:inline-flex;
}

.share-container{
  margin-left: 0px;
  margin-right: 0px;
  flex-wrap: wrap;
}

.share-icon {
  display: inline-block;
  margin:10px;
}

.share-icon:hover {
  margin-left:10px;
  margin-right:10px;
  cursor: pointer;
}

.badgeContainer{
    display: block;
    width: 225px;
    margin-left: 5px;
}

@media only screen and (max-width: 970px) {
  .badgeContainer{
    display:none;
  }
}

.imgBadge {
  float: left;
  display: inline-block;
  object-fit: cover;
  height: 75px;
}